<% provide(:title, 'About') %>


<div class="hero-unit" style="text-align:center">
  <h1 style="color:#333; font-size:70px; letter-spacing:1px; line-height:70px;margin-bottom:25px;">Welcome to our cloud-based Bidding System.</h1>
	<h2 style="color:#336699;text-shadow: 1px 1px 1px #fff;">Simple, hassle free. Developed in-house.</p>
</div>


<div class="row-fluid">
	
  <div class="span3">
    <h2 style="color:#333; font-size:36px">Info</h2>
    <p class="lead">Includes all information you need to bid the project: jobwalks, RFI due date, bid due date, and HD project team contact information.  Bids will be updated with "Notice to Bidders" as new information becomes available.</p>
  </div>

  <div class="span3">
    <h2 style="color:#333; font-size:36px">Documents</h2>
    <p class="lead">Bid documents automatically download instead of opening in your browser. Sort by name, date added, or file size.</p>
 </div>
  <div class="span3">
    <h2 style="color:#333; font-size:36px">Photos</h2>
    <p class="lead">Thumbnail view of photos from our jobwalk included.  Photos automatically download when clicked.</p>
 </div>
  <div class="span3">
    <h2 style="color:#333; font-size:36px">Security</h2>
    <p class="lead">A modern approach to privacy. No username or password necessary.  Each bid has a unique alphanumeric string, so only those with the link gain access to the files.</p>
 </div>
</div>