<li class="span4">
	<div class="row-fluid"><h2><%= tribe.name %></h2>
		<%= image_tag tribe.image_url(:large).to_s if tribe.image? %>

		<ul class="users">
			<%= render tribe.users %>
		</ul>

		<% if current_user.id == tribe.owner_id %>
			| <%= link_to "delete", tribe, method: :delete, confirm: "You sure?" %>
		<% end %>
	</div>
</li>
