<li>
<%= image_tag user.image_url(:tiny).to_s if user.image? %> <%= user.first_name %> <%= user.last_name %> 
<% if current_user.admin? %>
<%#= link_to "Remove from tribe", membership, method: :delete, confirm: "You sure?" %>
<% else %>
<% end %>
</li>