<h2><%= @circle.tribe.name %></h2>

<% for user in @circle.tribe.users %>

<% if user.id == @circle.tribe.owner_id %>
		<% for post in user.posts.limit(1).where("tribe_id = ?", @circle.tribe.id) %>
			<%= render post %>
		<% end %>
	<% else %>

	<% for membership in user.memberships %>
			<% if membership.status == "member" && membership.tribe_id == @circle.tribe.id %>
			<% for post in user.posts.limit(1).where("tribe_id = ?", @circle.tribe.id) %>
				<%= render post %>
			<% end %>
			<% end %>
	<% end %>
	<% end %>
<% end %>